.cartoon{
    --skin: #fca;
    --hair: #963;
    width: 90vmin;
    aspect-ratio: 1;
    height: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --gradient: #0003 0 0.125%, #0000 0 9.875%, #0003 0 10%;
    background: 
       repeating-linear-gradient(var(--gradient)), 
       repeating-linear-gradient(to right, var(--gradient));
       /* background-color: green; */
}

.cartoon * {
    position: absolute;
    box-sizing: border-box;
}
.head{
    left: 20%;
    top: 10%;
    width: 60%;
    height: 50%;
    background: var(--skin);
    border-radius: 100% 110% 0 0;
    border: 0.75vmin solid;
    border-bottom: 0;
}
.eye{
    width: 40%;
    height: 50%;
    background: 
         radial-gradient(circle at 75% 50%, #000 10%, #0000 0)
         ;
    background-color: #fff;
    border-radius: 100%;
    border: 0.75vmin solid;
    left: 66%;
    top: 57%;
}
.eye ~ .eye {
    left: 30%;
    top: 62%;
    transform: scale(1.05);
}
.forehead{
    background: var(--skin);
    width: 20%;
    height: 15%;
    border-radius: 50% / 100%;
    border-right: 1vmin solid;
    top: 53%;
    left: 83%;
}
